* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 3.75rem;
  display: grid;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  gap: 3.75rem;
}

header {
  display: grid;
  gap: 3.75rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
  max-width: 60ch;
}

h1 {
  font-size: 2rem;
}

.logo {
  justify-self: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  place-content: center;
  gap: 1.5rem;
}

.menu-btn {
  color: black;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 2px solid transparent;
}

.menu-btn:hover,
.menu-btn:focus {
  border: 2px solid #ee2211;
}
main {
  justify-self: center;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.bike {
  max-width: 100%;
}

.descricao-bike {
  background-color: #fff;
  display: grid;
  padding: 2.5rem;
  align-content: center;
  justify-items: end;
  text-align: right;
  gap: 1.25rem;
  position: relative;
}
.descricao-bike::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: #ee2211;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

.btn-descricao {
  padding: 1rem 2rem;
  background-color: #ee2211;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.25rem;
  display: block;
}

.btn-descricao:hover,
.btn-descricao:focus {
  background-color: #900;
}

.subtitulo {
  align-self: center;
  background-image: url("./img/onda.svg");
  text-align: right;
  padding: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.vantagens {
  padding: 2.5rem;
  background-color: #fff;
}

.vantagens-item {
  display: grid;
  padding: 1.25rem;
  grid-template-columns: auto 1fr;
  gap: 0.62rem 1.25rem;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:hover {
  border-left: 0.25rem solid #ee2211;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.rodape {
  background-color: #fff;
  padding: 2.5rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.rodape span {
  font-size: 1.25rem;
  line-height: 1.3;
}

@media (max-width: 900px) {
  body {
    margin-top: 1.25rem;
    display: grid;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1.25rem;
  }

  .conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .descricao-bike::before {
    content: "";
    width: 0;
    height: 0;
  }
  .vantagens-item {
    width: calc(100%-0.5rem);
  }
  .vantagens-item:hover {
    border-left: 0.25rem solid #ee2211;
  }
  .subtitulo {
    text-align: center;
    font-size: 3rem;
  }
  .descricao-bike {
    align-content: center;
    justify-items: center;
    text-align: center;
  }
}
